<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>user/user.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>UserActionInsert</servlet-name>
    <servlet-class>Controller.UserAction.Insert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPic</servlet-name>
    <servlet-class>Controller.UserAction.UploadPic</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserActionInsert</servlet-name>
    <url-pattern>/UserAction/Insert</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPic</servlet-name>
    <url-pattern>/UserAction/UploadPic</url-pattern>
  </servlet-mapping>
</web-app>
